

.nav {
    grid-area: n;
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.item a{
    color: #333333;
    font-size: 18px;
    text-decoration: none;
}


 .item a:active{
    color: gold;
}
