.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}
.dialogItem,.message {
    color: #333333;
    font-size: 18px;
    padding: 10px;
}

.messageBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;

}